@import "bootstrap";
@import "font-awesome";
@import "mixins";


/** BEGIN BASIC ELEMENT STYLING **/

body {
  background-color: $body-bg;
  color: $text-color;
  height: 100vh;
}

.primary-color{
	color: $brand-primary;
}

.secondary-color{
	color: $brand-secondary;
}

.btn{
  background-color: $btn-default-bg;
  border: 1px solid $btn-default-border;
  border-radius: $border-radius-base;
  color: $btn-default-color;
}

.btn:active, .btn.active{
	
 }

.btn:hover, .btn.hover{
  background-color: $brand-primary;
  border: 1px solid $btn-secondary-border;
}


.btn.disabled, .btn.disabled:hover{
	
}

.messageBox {
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0;
  width: 47%;
  border: 1px solid black;
  border-radius: $border-radius-base;
}

.recipientSection, .messageSection {
  margin: 0;
  padding: 0;
  width: 100%
}

.recipientSection input, .recipientSection .btn {
  margin-bottom: 1vh;
}

.recipientSection input {
  float: left;
  margin-top: 1vh;
  margin-right: 6.25%;
  width: 25%;
}

.recipientSection #firstInput {
  margin-left: 6.25%;
}

.recipientSection .btn {
  margin-left: 6.25%;
}

.messageSection textarea, .messageSection .btn {
  display: block;
  margin-bottom: 1vh;
  margin-left: 6.25%;
}

#successfulMessageHeader {
  margin-left: 6.25%;
}

.suggestionHeader {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}

.suggestionHeader h3 {
  margin: 0 0 1vh 6.25%;
  padding: 0;
}

.suggestionBox {
  width: 100%;
  text-align: center;
}

.suggestionBox table, .recipientsBox table {
  width: 100%;
}

.suggestionBox tr:hover {
  cursor: pointer;
  background-color: $brand-secondary;
  color: white;
}

.suggestionBox td, .recipientsBox td {
  width: 25%;
  border: 1px solid black;
}

.suggestionBox .emailTD, .recipientsBox .emailTD {
  width: 50%;
}

.recipientsBox {
  float: left;
  margin-right: 2%;
  padding: 0;
  width: 47%;
  border: 1px solid black;
  border-radius: $border-radius-base;
  text-align: center;
}

