$brand-primary: #F37726; // orange
$brand-secondary: #2b4178; // blue
$brand-green: #8DC63F;
$brand-dark-gray: #acacac;
$brand-light-gray: #dbdbdb;

$body-bg: #f3f4f4;
$text-color: #403F40;
$link-color: $brand-primary;
$headings-color: $text-color;

$border-radius-base: 2px;
$btn-default-color: #ffffff;
$btn-default-bg: #7C7B7B;
$btn-default-border: $btn-default-bg;

$btn-primary-color: #ffffff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;
$btn-secondary-bg: $brand-secondary;
$btn-secondary-border: $brand-secondary;


