

<div id="angularApp" ng-app="pageApp"  ng-controller="PageCtrl"  >

	<div class="col-md-10 col-sm-9 small-padding"> 

		<div class="panel panel-default small-margin">
			<div class="panel-heading">
				<h2>Front-end Programming Challenge</h2>
			</div>
		</div>

		<div class="panel-body"></div>

		<div class="messageBox">
			<form>
				<input type="text" placeholder="Name"></input>
				<input type="text" placeholder="Phone Number (SMS)"></input>
				<input type="text" placeholder="Email"></input>
				<button type="submit">Add Recipient</button>
				<textarea type="text" placeholder="Message"></textarea>
				<button type="submit">Send Message</button>
		</form>
		</div>

	</div>

</div>