

<div id="angularApp" ng-app="pageApp"  ng-controller="PageCtrl"  >

	<div class="col-md-10 col-sm-9 small-padding"> 

		<div class="panel panel-default small-margin">
			<div class="panel-heading">
				<h2>Front-end Programming Challenge</h2>
			</div>
		</div>

		<div class="panel-body"></div>

		<div class="messageBox">
			<form>
				<input type="text" placeholder="Name" ng-model="currentRecipient.recipientName"></input>
				<input type="text" placeholder="Phone Number (SMS)" ng-model="currentRecipient.sms"></input>
				<input type="text" placeholder="Email" ng-model="currentRecipient.email"></input>
				<button ng-click="addRecipient(currentRecipient)">Add Recipient</button>
				<textarea type="text" placeholder="Message" ng-model="message"></textarea>
				<button ng-click="pageService.sendMessage(recipients, message)">Send Message</button>
			</form>
		</div>

	</div>

</div>