
<<<<<<< HEAD
<div id="angularApp" ng-app="pageApp"  ng-controller="PageCtrl" >
=======
<div id="angularApp" ng-app="pageApp"  ng-controller="PageCtrl" ng-init="" >
>>>>>>> abaf9fa69cf9df77206548c15735b8592afec533
	<div class="col-md-10 col-sm-9 small-padding"> 

		<div class="panel panel-default small-margin">
			<div class="panel-heading">
				<h2>Front-end Programming Challenge
					
				</h2>
			</div>
<<<<<<< HEAD
		<div class="panel-body">

			
=======
		<div class="panel-body">			
>>>>>>> abaf9fa69cf9df77206548c15735b8592afec533
		</div>
	</div>

</div>