

<div id="angularApp" ng-app="pageApp"  ng-controller="PageCtrl"  >

	<div class="col-md-10 col-sm-9 small-padding"> 

		<div class="panel panel-default small-margin">
			<div class="panel-heading">
				<h2>Front-end Programming Challenge
					
				</h2>
			</div>

		<div class="panel-body">
		</div>
	</div>

</div>